<ion-content class="page-container">

  <ion-card class="theme-card">

    <div class="theme-title">
      🎨 Elige tu tema
    </div>

    <div class="theme-grid">

      <ion-button
        class="theme-btn btn-pink"
        expand="block"
        (click)="setTheme('pink')">
        🌸 Rosa
      </ion-button>

      <ion-button
        class="theme-btn btn-blue"
        expand="block"
        (click)="setTheme('blue')">
        🔵 Azul
      </ion-button>

      <ion-button
        class="theme-btn btn-dark"
        expand="block"
        (click)="setTheme('dark')">
        🌙 Oscuro
      </ion-button>

    </div>

  </ion-card>

</ion-content>