<ion-header>
  <ion-toolbar>

    <div class="toolbar-container">

      <!-- Menú -->
      <div class="left-section">

        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <span class="menu-text">Menú</span>

      </div>

      <!-- Buscador -->
      <div class="search-section">

        <ion-searchbar
          placeholder="Buscar productos..."
          [(ngModel)]="busqueda"
          (ionInput)="onBusquedaChange()"
          show-clear-button="focus">
        </ion-searchbar>

      </div>

      <!-- Usuario -->
      <div class="right-section">

        <div class="separator"></div>

        <div
          class="user-info"
          routerLink="/login">
          <small>Hola,</small>
          <strong>Inicia sesión</strong>
        </div>

        <ion-buttons>
          <ion-button
            fill="clear"
            routerLink="/login">
            <ion-icon
              slot="icon-only"
              name="person-sharp">
            </ion-icon>
          </ion-button>
        </ion-buttons>

        <div class="separator"></div>                                                                                     

        <ion-buttons>
          <ion-button
            fill="clear"
            routerLink="/car-compra">
            <ion-icon
              slot="icon-only"
              name="cart-sharp">
            </ion-icon>
          </ion-button>
        </ion-buttons>

      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <!--=========================
        CATEGORÍAS
    ==========================-->

    <div class="categorias-wrapper">

      <button
        class="categoria-btn"
        (click)="anteriorCategoria()">

        &#10094;

      </button>

      <div class="categorias-container">

        <!-- Todas -->

        <div
        class="categoria-card"
        [class.activa]="categoriaSeleccionada === ''"
        (click)="mostrarTodasCategorias()">

        <img
          src="assets/icon/Logo.jpg"
          alt="Todas"
          class="categoria-imagen">

        <span>Todas</span>

      </div>

        <!-- Categorías -->

        <div
          class="categoria-card"
          *ngFor="let cat of categoriasVisibles"
          [class.activa]="categoriaSeleccionada === cat.categoriaId"
          (click)="seleccionarCategoria(cat)">

          <img
            [src]="cat.imagenUrl"
            [alt]="cat.nombre"
            class="categoria-imagen">

          <span>

            {{cat.nombre}}

          </span>

        </div>

      </div>

      <button
        class="categoria-btn"
        (click)="siguienteCategoria()">

        &#10095;

      </button>

    </div>

    <!--=========================
        PRODUCTOS
    ==========================-->

    <div class="grid-container">

      <div
        class="grid-item"
        *ngFor="let p of productosFiltrados"
        (click)="verDetalle(p)">

        <img
          *ngIf="p.imagenes || p.imagenUrl"
          [src]="p.imagenes?.[0] || p.imagenUrl"
          class="producto-img">

        <h3>{{ p.nombre }}</h3>

        <p>S/{{ p.precio }}</p>

        <p>Stock: {{ p.stock }}</p>

      </div>

    </div>

  </div>

</ion-content>