<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Actualizar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>

      <form [formGroup]="productoForm" (ngSubmit)="actualizar()">

        <ion-item>
          <ion-label position="floating">ID Producto</ion-label>
          <ion-input formControlName="productoId"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="number" formControlName="precio"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Stock</ion-label>
          <ion-input type="number" formControlName="stock"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Categoría</ion-label>
          <ion-input formControlName="categoriaId"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Link Imagen</ion-label>
          <ion-input formControlName="imagenUrl"></ion-input>
        </ion-item>

        <img
          *ngIf="productoForm.value.imagenUrl"
          [src]="productoForm.value.imagenUrl"
          class="preview-img"
        />

        <ion-item lines="none">
          <ion-label>Activo</ion-label>
          <ion-toggle formControlName="activo"></ion-toggle>
        </ion-item>

        <ion-button expand="block" type="submit" class="save-btn">
          Actualizar Producto
        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>

</ion-content>
