<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding prod-page">

  <ion-card class="prod-card">
    <ion-card-content>

      <form [formGroup]="productoForm" (ngSubmit)="registrar()">

        <ion-item>
          <ion-label position="floating">ID Producto</ion-label>
          <ion-input formControlName="productoId"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input
            type="number"
            formControlName="precio">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Stock</ion-label>
          <ion-input
            type="number"
            formControlName="stock">
          </ion-input>
        </ion-item>

        <!-- Categoría -->
        <ion-item>
          <ion-label>Categoría</ion-label>

          <ion-select
            formControlName="categoriaId"
            placeholder="Seleccione categoría">

            <ion-select-option
              *ngFor="let cat of categorias"
              [value]="cat.categoriaId">

              {{ cat.nombre }}

            </ion-select-option>

          </ion-select>

        </ion-item>

        <!-- Seleccionar imágenes -->
        <div class="upload-container">

          <label class="upload-label">
            Seleccionar imágenes
          </label>

          <input
          #fileInput
            type="file"
            accept="image/*"
            multiple
            (change)="onFilesSelected($event)">

          <p *ngIf="selectedFiles.length > 0">
            {{ selectedFiles.length }} imagen(es) seleccionada(s)
          </p>

        </div>

        <!-- Vista previa -->
        <div class="preview-container" *ngIf="previewUrls.length">

  <img
    *ngFor="let url of previewUrls"
    [src]="url"
    class="preview-img">

</div>

        <ion-item lines="none">
          <ion-label>Activo</ion-label>
          <ion-toggle formControlName="activo"></ion-toggle>
        </ion-item>

        <ion-button
          expand="block"
          type="submit"
          class="save-btn"
          [disabled]="subiendo">

          {{ subiendo ? 'Subiendo...' : 'Registrar Producto' }}

        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>

</ion-content>